* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.container {
    max-width: 1366px;
    width: 100%;
    height: 2283px;
    display: grid;
    grid-template-columns: 33.8% 11.2% 21.7% 33.3%;
    grid-template-rows: 31.4% 18.7% 18.7% 31.2%;
    margin: 0 auto;
}

.item1 {
    background: url(img/image1.png);
    background-size: cover;
    grid-column-start: 1; 
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2;
}

.item2 {
    grid-column-start: 4; 
    grid-column-end: 5;
    grid-row-start: 1; 
    grid-row-end: 2;
    padding: 55px;
}

.item3 {
    background: url(img/image2.png);
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 2; 
    grid-row-end: 4;
    padding-left: 55px;
    padding-top: 65px;
    padding-right: 70px;
}

.item4 {
    background: url(img/image3.png);
    grid-column-start: 3; 
    grid-column-end: 5;
    grid-row-start: 2; 
    grid-row-end: 3;
    padding-left: 55px;
    padding-top: 65px;
    padding-right: 130px;
}

.item5 {
    background: url(img/image4.png);
    grid-column-start: 3; 
    grid-column-end: 5;
    grid-row-start: 3; 
    grid-row-end: 4;
    padding-left: 55px;
    padding-top: 65px;
    padding-right: 130px;
}

.item6 {
    background: url(img/image5.png);
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 4; 
    grid-row-end: 5;
    padding-left: 45px;
    padding-top: 65px;
}

.item7 {
    background: url(img/image6.png);
    grid-column-start: 2; 
    grid-column-end: 5;
    grid-row-start: 4; 
    grid-row-end: 5;
    padding-left: 54px;
    padding-top: 65px;
}

.item2 img {
    margin-bottom: 70px;
}

.item2 .text1 {
    font-size: 40px;
    font-weight: 300;
    color: #262f32;
}

.item2 .text2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
    color: #262f32;
}

.item2 .text3 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #262f32;
}

.item2 p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #262f32;
}

.item3 h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
}

.item3 h2 span {
    font-weight: 900;
}

.item3 p {
    color: #eaf4f6;
    font-size: 15.57px;
    line-height: 30px;
    margin-top: 30px;
}

.item3 .scketch p {
    margin-bottom: 70px;
}

.item3 .design p {
    margin-bottom: 70px;
}

.item4 h2 {
    color: #262f32;
    font-size: 45px;
    font-weight: 300;
}

.item4 h2 span {
    font-weight: 900;
}

.item4 p {
    color: #404645;
    font-size: 15.57px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 53px;
}

button {
    background: transparent;
    height: 52px;
    width: 210px;
    border-radius: 10px;
    font-size: 15.57px;
    color: #404645;
}

.item5 h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
}

.item5 h2 span {
    font-weight: 900;
}

.item5 p {
    color: #bfc3c6;
    font-size: 15.57px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 53px;
}

.button_2 {
    color: #ffffff;
    border-color: #ffffff;
}

.item6 h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
}

.item6 h2 span {
    font-weight: 900;
}

.item6 img {
    margin-top: 250px;
    margin-bottom: 22px;
}

.item6 h3 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 900;
}

.item6 p {
    color: #ffffff;
    font-size: 16.57px;
    margin-top: 17px;
}

.item7 h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 46px;
}

.item7 h2 span {
    font-weight: 900;
}

.item7 form {
    width: 630px;
}

.item7 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.item7 li {
    display: block;
    background: transparent;
    display: block;
}

#name, #mail {
    width: 303px;
    height: 56px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 16.57px;
    font-weight: 300;
}

#name {
    margin-right: 13px;
    margin-bottom: 15px;
}

#msg {
    width: 619px;
    height: 160px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 16.57px;
    font-weight: 300;
    padding-bottom: 95px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #ffffff;
} 
input[type="text"]::-moz-placeholder {
    color: #ffffff;
}

input[type="email"]::-webkit-input-placeholder {
    color: #ffffff;
} 
input[type="email"]::-moz-placeholder {
    color: #ffffff;
}

.item7 .stay {
    color: #ffffff;
    font-size: 16.57px;
    margin-top: 90px;
}

.item7 .container3 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 48px;
}

.item7 img {
    margin-right: 7px;
}

.item7 .please {
    color: #ffffff;
    font-size: 16.57px;
}